@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: #F2F2F2;
}

li {
    list-style: none;
}

.navigation {
    background-color: #FFFFFF;
    color: #000000;
}

.navigation-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-search {
    background: url(../images/search.svg) no-repeat;
    width: 18px;
}

.navigation-likes {
    background: url(../images/love.svg) no-repeat;
    width: 18px;
}



.navigation-choice {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    width: 160px;
    text-decoration: none;
    background-color: #756157;
    color: #FFFFFF;
    text-transform: uppercase;
}

.reservations-button {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    width: 376px;
    background-color: #756157;
    color:#FFFFFF;
    text-decoration: none;
}

.about-hotel {
    font-family: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    width: 140px;
    background-color: #756157;
    color: #FFFFFF;
}

.add-to-favourites {
    font-family: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    width: 140px;
    background-color: #82B3D3;
    color: #FFFFFF;
}

.added-to-favourites {
    font-family: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    width: 140px;
    background-color: #7DB54F;
    color: #FFFFFF;
}

.button {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    background-color: #82B3D3;
    color:#FFFFFF;
    font-size: 20px;
}

main {
    font-family: inherit;
    background-color: #FFFFFF;
}

.welcome {
    background-image: url(../images/index-background.jpg);
    width: 1200px;
    background-repeat: repeat;
    background-size: auto;
    background-position: 0%;
}

.advantages-item-first,
.advantages-item-fifth {
    background-color: #82B3D3;
    color:#FFFFFF
}

.advantages-item-secound,
.advantages-item-fourth {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-third {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-service-item-first,
.advantages-service-item-third {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-service-item-first {
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.advantages-service-item-secound {
    background-image: url(../images/food.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.advantages-service-item-third {
    background-image: url(../images/present.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.newsletter {
    background-image: url(../images/catalog-background-1-redactor.jpg);
    width: 1200px;
    color: #F2F2F2;
    background-repeat: repeat;
    background-size: auto;
    background-position: 0%;
}

.contacts-phone {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

.catalog-header {
    background-image: url(../images/catalog-background-1-redactor.jpg);
    width: 1200px;
    color:#FFFFFF;
}

.button-oficial-site {
    text-decoration: none;
    color:#000000;
}

.field {
    font-family: inherit;
}

h2 {
    font-family: inherit;
    width: 620px;
    height: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

p {
    width: 651px;
    height: 26px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

h3 {
    width: 175px;
    height: 56px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.reservations-button {
    font-family: inherit;
    text-transform: uppercase;
}
