@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background-color: #F2F2F2;
}

li {
    list-style: none;
}

.navigation {
    background-color: #FFFFFF;
    color: #000000;
}

.navigation-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-search {
    background: url(../images/search.svg) no-repeat;
    width: 18px;
}

.navigation-likes {
    background: url(../images/love.svg) no-repeat;
    width: 18px;
}



.navigation-choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    width: 160px;
    text-decoration: none;
    background-color: #756157;
    color: #FFFFFF;
}

main {
    font-family: inherit;
    background-color: #FFFFFF;
}

.welcome {
    background-image: url(../images/index-background.jpg);
    width: 1200px;
}

.advantages-item-first,
.advantages-item-fifth {
    background-color: #82B3D3;
    color:#FFFFFF
}

.advantages-item-secound,
.advantages-item-fourth {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-service-item-first,
.advantages-service-item-third {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-service-item-first {
    background-image: url(../images/house.svg);
}

.advantages-service-item-secound {
    src: url(../images/food.svg);
}

.advantages-service-item-third {
    src: url(../images/present.svg);
}

.newsletter {
    background-image: url(../images/catalog-background-1-redactor.jpg);
    width: 1200px;
    color: #F2F2F2;
}

.contacts-phone {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}
